.name {
    padding-top: 4rem;
    color: #4ECCA3 !important;
    font-size: 3.5em;
    font-weight: 500;
    @media screen and (max-width: 500px ) {
        font-size: 2.3em;
        text-align: center;
    }
    @media screen and (max-width: 310px ) {
        font-size: 2em;
    }
}

.homepage {
    margin: 0 8vw;
    padding: 3vw 0;

    * {
        color: #EEEEEE;
    }
    @media screen and (max-width: 900px) {
        margin: 0 6vw;
    }
    @media screen and (max-width: 700px) {
        margin: 0 4vw;
    }
    @media screen and (max-width: 450px) {
        margin: 0 2vw;
        p {
            font-size: 95%;
        }
    } 
}

.intro {
    margin-top: 1rem;
    width: 60%;
    @media screen and (max-width: 1500px) {
    width: 70%;
    }
    @media screen and (max-width: 1150px) {
        width: 85%;
        text-align:justify;
        word-break:keep-all;
        }
    @media screen and (max-width: 850px) {
        width: 100%;
    }
}

.skills {
    margin: 35vh 15% 5vh;
    text-align: center;
    width: 70%;
    @media screen and (max-width:1500px) {
        width: 80%;
        margin: 25vh 10% 0;
    }
    @media screen and (max-width:1200px) {
        width: 90%;
        margin: 20vh 5% 0;
    }
    @media screen and (max-width:800px) {
        width: 100%;
        margin: 10vh 0 0;
    }
}

#dw {
    opacity: 90%;
    font-weight: 500;
    font-size: 2em;
    @media screen and (max-width:500px) {
        font-size: 1.5em;
        text-align: center !important;
    }
}

.logo {
    height: 64px;
    width: 64px;
    @media screen and (max-width:550px) {
        height: 50px;
        width: 50px;
    }
    @media screen and (max-width:475px) {
        height: 40px;
        width: 40px;
    }
    @media screen and (max-width:400px) {
        height: 34px;
        width: 34px;
    }
    @media screen and (max-width:320px) {
        height: 24px;
        width: 24px;
    }
}

.tech {
    display: flex;
    margin: 0.5rem;
    width: 31%;
    padding: 0.5rem;
    background-color: #182946;
    border-radius: 12px;
    box-shadow: 10px 10px 30px -10px rgba(2, 12, 27, 0.7);
    @media screen and (max-width:1100px) {
        width: 40%;
    }
    @media screen and (max-width:800px) {
        width: 47%;
    }
    @media screen and (max-width:620px) {
        width: 45%;
        h3 {
            font-size: 120%;
        }
    }
    @media screen and (max-width:550px) {
        h3 {
            font-size: 110%;
            letter-spacing: .1rem;
        }
        h2 {
            font-size: 120%;
        }
    }
    @media screen and (max-width:475px) {
        h3 {
            font-size: 110%;
        }
        margin: 0.2rem;
    }
    @media screen and (max-width:400px) {
        h3 {
            font-size: 100%;
        }
        width: 47%;
    }
    @media screen and (max-width:320px) {
        h3 {
            font-size: 75%;
        }
        width: 47.5%;
    }
}

.align_v {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.mr_2 {
    margin-right: 0.5rem;
    @media screen and (max-width:550px) {
        margin-right: 0.35rem;
    }
}

.mbt_2 {
    margin: 0.5rem 0 2rem !important;
}

.tech_list {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.contact {
    width: 50%;
    text-align: center;
    margin: 16rem 25% 5rem;
    padding-top: 7rem;
    @media screen and (max-width:900px) {
        margin: 12rem 20% 0;
        width: 60%;

    }
    @media screen and (max-width:600px) {
        margin: 9rem 10% 0;
        width: 80%;
    }
    @media screen and (max-width:400px) {
        margin: 7rem 2.5% 0;
        width: 95%;
    }
}

.contact_form {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

input {
    margin-bottom: 1rem;
    color: black !important;
    border-radius: 1rem !important;
}

textarea {
    margin-bottom: 1rem;
    height: 12rem;
    color: black !important;
    border-radius: 1rem !important;
}
.send {
    width: 18%;
    margin: 1rem 41% 0;
    font-family: inherit;
    font-size: 20px;
    background: royalblue;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    @media screen and (max-width:1400px) {
        width: 22%;
        margin: 0 39%;
    }
    @media screen and (max-width:1180px) {
        width: 30%;
        margin: 0 35%;
    }
    @media screen and (max-width:700px) {
        width: 34%;
        margin: 0 32%;
    }
    @media screen and (max-width:450px) {
        width: 40%;
        margin: 0 30%;
    }
    @media screen and (max-width:320px) {
        width: 48%;
        margin: 0 26%;
    }
} 
.send span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}
.send svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}
.send:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}
.send:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
}
.send:hover span {
    transform: translateX(5em);
}
.send:active {
    transform: scale(0.95);
}
@keyframes fly-1 {
    from {
     transform: translateY(0.1em);
    }
    to {
     transform: translateY(-0.1em);
    }
}
.projects {
    text-align: center;
    margin-top: 27vh;
    @media screen and (max-width:800px) {
        margin-top: 15vh;
    }
    @media screen and (max-width:450px) {
        margin-top: 10vh;
    }
}
.list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.project {
    margin: .5rem .5rem 2rem;
    width: 45%;
    img {
        height: 100%;
        width: 100%;
    }
    @media screen and (max-width:850px) {
        width: 75%;
        margin: 0 0 2rem;
    }
    @media screen and (max-width:570px) {
        width: 85%;
        margin: 0 0 2rem;
    }
    @media screen and (max-width:500px) {
        width: 95%;
        margin: 0 0 2rem;
    }
    @media screen and (max-width:400px) {
        width: 100%;
        margin: 0 0 2rem;
    }
}
#mb_2 {
    margin-bottom: 1rem !important;
}
.container {
    position: relative;
    padding: 0;
}  
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}
  
.container:hover .overlay {
    height: 100%;
}
  
.text {
    * {
        color: black;
    }
    font-size: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.btn-light {
    h1 {
        margin: 0 !important;
    }
    margin-top: 0.3rem;
    border: 0.1rem solid black;
    padding: 0.7rem !important;
    border-radius: 0.2rem;
    transition: .2s;
    &:hover {
        scale: 1.03;
        transition: .2s;
    }
    @media screen and (max-width:850px) {
        margin-top: 1rem;
    }
    @media screen and (max-width:570px) {
        margin-top: .4rem;
    }
    @media screen and (max-width:370px) {
        padding: .2rem !important;
        margin-top: .1rem;
    }
}
.links {
    display: flex;
    justify-content: space-evenly;
}
.h2_card {
    @media screen and (max-width:850px) {
        margin-bottom: 0.7rem !important;
    }
    @media screen and (max-width:570px) {
        margin-bottom: 0 !important;
    }
    @media screen and (max-width:370px) {
        font-size: 100%;
    }
}
#p {
    @media screen and (min-width:1300px) {
        width: 70%;
        margin: .5rem 15% .8rem  !important;
        font-size: 120%;
    }
    @media screen and (max-width:370px) {
        font-size: 80%;
    }
}
::-webkit-scrollbar {
    width: .5rem;
}
::-webkit-scrollbar-track {
    background: #0b1a32; 
}
::-webkit-scrollbar-thumb {
    background: #2d4468;
      border-radius:10px;
}

#skills {
    padding-top: 16rem;
}
#projects {
    padding-top: 3rem;
}